{% extends 'base.html' %}

{% block title %}About - Todo App{% endblock %}

{% block body %}
<div class="container my-5">
    
    <p>Welcome to the Todo App, a simple web application for managing your tasks efficiently.</p>
    <p>This application allows you to:</p>
    <ul>
        <li>Add new tasks with titles and descriptions.</li>
        <li>Update existing tasks.</li>
        <li>Delete tasks that are no longer needed.</li>
        <li>Mark tasks as completed using checkboxes.</li>
    </ul>
    <p>Feel free to explore and manage your tasks effectively with Todo App!</p>
</div>
{% endblock %}
